.container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product_img {
  width: 50%;
}

.product_detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .product_img {
    width: 100%;
  }
  .product_detail {
    width: 100%;
  }
}

.product_name {
  font-size: 32px;
  font-weight: 500;
}

.product_price {
  font-size: 16px;
  font-weight: 300;
}

.email_form {
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 400px;
  height: 50px;
}

.email_input {
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  font-size: 12px;
  text-align: start;
}

.email_input::placeholder {
  font-size: 12px;
  color: rgb(145, 145, 145);
}

.submit_button {
  width: 20%;
  background-color: rgb(145, 145, 145);
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 12px;
}
