.email_form {
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 400px;
    height: 50px;
  }
  
  .email_input {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    font-size: 12px;
    text-align: start;
  }
  
  .email_input::placeholder {
    font-size: 12px;
    color: rgb(145, 145, 145);
  }
  
  .submit_button {
    width: 20%;
    background-color: rgb(145, 145, 145);
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 12px;
  }
  